{% extends "themes/base.html.twig" %}

{% block title %}Modifier mon carnet d'adresse{% endblock %}

{% block main %}
                <!-- Adresses -->
        <div class="container d-flex justify-content-center align-items-center min-vh-100 mb-5">
            <div class="bg-white p-4 p-md-5 shadow-sm" style="max-width: 500px; width: 100%;">
                <div id="addresses-wrapper" data-prototype="{{ form_widget(form.addresses.vars.prototype)|e('html_attr') }}">
                    <h5 class="mt-4">Adresses</h5>
                    {% for addressForm in form.addresses %}
                        <div class="address-item mb-4 p-3 border rounded bg-light">
                            <div class="mb-2">
                                {{ form_widget(addressForm.street, {
                                    'attr': {
                                        'placeholder': 'Rue',
                                        'class': 'form-control'
                                    }
                                }) }}
                                {{ form_errors(addressForm.street) }}
                            </div>

                            <div class="mb-2">
                                {{ form_widget(addressForm.city, {
                                    'attr': {
                                        'placeholder': 'Ville',
                                        'class': 'form-control'
                                    }
                                }) }}
                                {{ form_errors(addressForm.city) }}
                            </div>
                            <div class="mb-2">
                                {{ form_widget(addressForm.postalCode, {
                                    'attr': {
                                        'placeholder': 'Code postal',
                                        'class': 'form-control'
                                    }
                                }) }}
                                {{ form_errors(addressForm.postalCode) }}
                            </div>

                        </div>
            {% endfor %}
        </div>
{% endblock %}