{% extends 'themes/base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block main %}
<div class="container mt-5">
    <div class="row justify-content-center"> 
        <!-- Colonne gauche avec les liens -->
        <div class="col-md-3 mb-4">
            <div class="list-group small shadow rounded">
                <a href="" class="list-group-item list-group-item-action">
                    🛒 Panier
                </a>
                <a href="" class="list-group-item list-group-item-action">
                    📦 Historique de commandes
                </a>
                <a href="" class="list-group-item list-group-item-action">
                    ❤️ Favoris
                </a>
            </div>
        </div>

<div class="col-md-6">

    <div class="card shadow rounded p-4 text-center mt-4 position-relative">
        <a href="{{ path('app_edit_profile') }}" class="btn btn-sm btn-outline-primary position-absolute top-0 end-0 m-2">
            Modifier
        </a>
        <h2 class="mb-4">Bonjour, {{ app.user.firstName }} !</h2>
        <ul class="list-group list-group-flush text-start">
            <li class="list-group-item" style="border: none;"><strong>Prénom :</strong> {{ user.firstName }}</li>
            <li class="list-group-item" style="border: none;"><strong>Nom :</strong> {{ user.lastName }}</li>
            <li class="list-group-item" style="border: none;"><strong>Email :</strong> {{ user.email }}</li>
        </ul>
    </div>
    
    <div class="card shadow rounded p-4 text-center mt-4 position-relative">
        <a href="{{ path('app_edit_profile') }}" class="btn btn-sm btn-outline-primary position-absolute top-0 end-0 m-2">
            Modifier
        </a>
        
        <ul class="text-start" style="list-style: none; padding-left: 0;">
            <li style="border: none;"><strong>Adresse postale :</strong> 
            {{ user.street ?: 'Non renseignée' }}
            {{ user.addressComplement ?: '' }}
            {{ user.postalCode ?: '' }}
            {{ user.city ?: '' }}
            {{ user.country ?: '' }}
            
            
            
            </li>
            <li style="border: none;"><strong>Téléphone :</strong> {{ user.phoneNumber ?: 'Non renseigné' }}</li>
        </ul>
    </div>

    <div class="mt-4 text-center">
        <a href="{{ path('app_logout') }}" class="btn btn-outline-danger">Déconnexion</a>
    </div>
</div>


{% endblock %}