{% extends "themes/base.html.twig" %}

{% block title %}Modifier mon profil{% endblock %}

{% block main %}
        <div class="container d-flex justify-content-center align-items-center min-vh-100 mb-5">
            <div class="bg-white p-4 p-md-5 shadow-sm" style="max-width: 500px; width: 100%;">
                <h3>Modifier mon profil</h3>
                <h6 class="text-muted">Mettez à jour vos informations personnelles</h6>
                <br><br>

                {{ form_start(form) }}

                <!-- Prénom -->
                <div class="mb-3">
                    {{ form_widget(form.firstName, {
                        'attr': {
                            'placeholder': 'Prénom',
                            'class': 'form-control'
                        }
                    }) }}
                    {{ form_errors(form.firstName) }}
                </div>

                <!-- Nom -->
                <div class="mb-3">
                    {{ form_widget(form.lastName, {
                        'attr': {
                            'placeholder': 'Nom',
                            'class': 'form-control'
                        }
                    }) }}
                    {{ form_errors(form.lastName) }}
                </div>

                <!-- Email -->
                <div class="mb-3">
                    {{ form_widget(form.email, {
                        'attr': {
                            'placeholder': 'Email',
                            'class': 'form-control'
                        }
                    }) }}
                    {{ form_errors(form.email) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
{% endblock %}
