{% extends "themes/base_admin.html.twig" %}

{% block title %} Nouvelle sous categorie{% endblock %}
{% block description %} Nouvelle sous categorie{% endblock %}

{% block main %}
<h1 class="text-center my-3 display-5">Nouvelle sous catégorie</h1>

<div>
    <img 
        src="{{ asset('build/images/annuler.png') }}" 
        alt="retour"
        width="20"
        height="20">  
    <h6><a href="{{ path('app_admin_category') }}">Revenir à sous Catégorie</a></h6>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            {{ form_start(form) }}
                <div class="mb-3">
                    <div class="text-danger">{{ form_errors(form.name) }}</div>
                    {{ form_widget(form.name, {
                        'attr': {
                            'placeholder': 'Nom',
                            'class': 'form-control'
                        }
                    }) }}
                </div>
                <button type="submit" class="btn btn-primary mt-3">Enregistrer</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
