{% extends "themes/base.html.twig" %}

{% block title %}Inscription{% endblock %}

{% block main %}
    <div class="container d-flex justify-content-center align-items-center min-vh-100 mb-5">
        <div class="bg-white p-4 p-md-5 shadow-sm" style="max-width: 500px; width: 100%;">
            <h3> Créez votre compte</h3>
            <h6> Vous avez déjà un compte? <a href="{{ path('app_login') }}">            
            Connectez-vous <img 
            src="{{ asset('build/images/hello.png') }}" 
              alt="hello"
              width="20"
              height="20"> </a></h6>
            <br>

            {{ form_start(registrationForm) }}

            <div class="mb-3">
                {{ form_widget(registrationForm.firstName, {
                    'attr': {
                        'placeholder': 'Prénom',
                        'class': 'form-control'
                    }
                }) }}
                {{ form_errors(registrationForm.firstName) }}
            </div>

            <div class="mb-3">
                {{ form_widget(registrationForm.lastName, {
                    'attr': {
                        'placeholder': 'Nom',
                        'class': 'form-control'
                    }
                }) }}
                {{ form_errors(registrationForm.lastName) }}
            </div>

            <div class="mb-3">
                {{ form_widget(registrationForm.email, {
                    'attr': {
                        'placeholder': 'Email',
                        'class': 'form-control'
                    }
                }) }}
                {{ form_errors(registrationForm.email) }}
            </div>
            <div class="mb-3">
                {{ form_widget(registrationForm.phoneNumber, {
                    'attr': {
                        'placeholder': 'Phone',
                        'class': 'form-control'
                    }
                }) }}
                {{ form_errors(registrationForm.phoneNumber) }}
            </div>

            <div class="mb-3">
                {{ form_widget(registrationForm.password.first, {
                    'attr': {
                        'placeholder': 'Mot de passe',
                        'class': 'form-control'
                    }
                }) }}
                {{ form_errors(registrationForm.password.first) }}
            </div>

            <div class="mb-3">
                {{ form_widget(registrationForm.password.second, {
                    'attr': {
                        'placeholder': 'Confirmation du mot de passe',
                        'class': 'form-control'
                    }
                }) }}
                {{ form_errors(registrationForm.password.second) }}
            </div>
                <br>
        
            <div class="mb-3 form-check">
                {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                <label class="form-check-label" for="{{ registrationForm.agreeTerms.vars.id }}">
                    Lire et accepter <a href="#">les conditions générales d'utilisation</a>
                </label>
                {{ form_errors(registrationForm.agreeTerms) }}
            </div>

                {{ form_rest(registrationForm) }}


            <button type="submit" class="btn btn-primary w-100">S’inscrire</button>

            {{ form_end(registrationForm) }}

            <p class="mt-3 text-center text-muted small">
                En cliquant sur "S'inscrire", vous acceptez notre Politique de confidentialité et Conditions d'utilisation.
            </p>
        </div>
    </div>
{% endblock %}


{#} {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}{#}